<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Administrador</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
  <div class="container py-4 py-xl-5">
    <div>
      <a class="btn btn-secondary btn-sm text-white" role="button" href="/">Volver al inicio</a>
    </div>
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Panel de administrador</h2>
        <p class="w-lg-50">Acciones de administrador</p>
      </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div
              class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon">
              <i class="fas fa-user"></i></div>
            <h4 class="card-title">Perfil de administrador</h4>
            <p class="card-text"><p>
              <img class="img" src='<%= "/uploads/"+user.local.foto %>' alt="mifoto" style="height: 150px; width: 150px;"> <br><hr>
              <strong>adminID</strong> : <%= user._id %> <br>
              <strong>Correo</strong> : <%= user.local.email %> <br>
              <strong>Contraseña</strong> : <%= user.local.password %> <br>
              <strong>Nombre</strong> : <%= user.local.name %> <br>
              <strong>Región</strong> : <%= user.local.region %> <br>
              <strong>Comuna</strong> : <%= user.local.comuna %> <br>
              <hr>
              <strong>ADMINISTRADOR</strong>

            </p></p>
            <a href="/logout" class="btn btn-secondary">
              Cerrar sesión
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div
              class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M19,11H15V15H13V11H9V9H13V5H15V9H19M20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6Z" />
            </svg></div>
            <h4 class="card-title">Subir foto de perfil</h4>
            <p class="card-text">¡Sube una foto para tu perfil aquí!</p><hr><br>
            <%= typeof msg != 'undefined' ? msg : '' %>
            <form action="/profile" method="POST" enctype="multipart/form-data">
              <input type="file" name="image">
              <br>
              <button type="submit" class="mt-3 btn btn-primary">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div> -->
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div
              class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                class="bi bi-flag">
                <path
                  d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z">
                </path>
              </svg></div>
            <h4 class="card-title">Administrar anuncios</h4>
            <p class="card-text">Administrar los anuncios publicados</p>
            <a href=""><button class="btn btn-info">
              Ver anuncios
            </button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div
              class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M13,18V10L16.5,13.5L17.92,12.08L12,6.16L6.08,12.08L7.5,13.5L11,10V18H13M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2Z" />
            </svg>
              </svg></div>
            <h4 class="card-title">Administrar usuarios</h4>
            <p class="card-text">Administrar los usuarios registrados en la base de datos</p>
            <a href=""><button class="btn btn-info">
              Ver usuarios
            </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>